@media (min-width: 768px) and (max-width: 1024px) {
    nav, header, main {
        max-width: 720px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

}

@media (min-width: 1025px) {
    nav, header, main {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    nav {
        max-height: 100px;
    }

    main {
        margin-bottom: 20px;
    }

    .people__popup{
        max-width: 200px;
        width: 90%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    max-height: 864px;
}
  
nav, header {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

main{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 10px;
}

nav {
    max-height: 70px;
}

header .carousel-indicators {
    bottom: -33px;
}

header .carousel-indicators .custom-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0.3;
}

header .carousel-indicators .custom-indicator.active {
    opacity: 1;
    width: 12px;
    background-color: #fff;
}

.home__function{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
}

button a {
    all: unset;
    cursor: pointer;
    color: silver;
}

.lh-0 {
    line-height: 0.3;
}
.fs-7{
    font-size: 0.8rem;
}
.shadow-0 {
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1);
}

.profile__header {
    position: relative;
    height: 100px;
    background-color: #CF3066;
}

.profile__header--union {
    position: relative;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.profile__header--content {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.profile__bank{
    width: 60%;
    height: 75px;
    margin: 0 5px;
    display: flex;
    padding: 5px;
}

.profile__function {
    margin: 7px auto;
    width: 324px;
    padding: 7px;
    display: flex;
    align-items: center;
}

.cash__header {
    position: relative;
    height: 210px;
    background-color: #CF3066;
    color: white;
    padding: 20px;
}

 .cash__details{
    position: absolute;
    height: 179px;
    background-color: white;
    color: #000;
    padding: 9px;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
 }

.cash__content{
    max-width: 330px;
    display: block;
    padding-top: 145px;
}

.box{
    width: 156px;
    height: 160px;
    text-align: center;
    padding: 30px;
    border-radius: 16px;
}
.square{
    margin: 0 auto;
    max-width: 330px;
    display: block;
    grid-template-columns: repeat(2, 1fr);
}

.color,button.active a, .wallet__tag , button.ac{
    color: #CF3066;
}

.bg, button.de{
    background-color: #CF3066;
}

.people__tag{
    display: flex;
    height: 88px;
    border-radius: 16px;
    margin-top: 10px;
    padding: 13px;
    background-color: rgba(146, 146, 234, 0.1);
}

.people__popup{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: #fff;
    height: 64px;
    width: 90%;
}