@media (max-width: 576px) {
    .home__header, .profile__header {
        width: 100%;
    }

    .nav {
        flex-direction: row;
        padding: 10px;
    }

    .nav-link {
        font-size: 0.8rem;
    }
}


@media (min-width: 768px) {
    .home__function {
        padding: 20px;
    }

    .home__header__account {
        display: flex;
        justify-content: space-between;
    }
}


nav, header, main{
    max-width: 360px;
    margin: 0 auto;
    padding: 0 10px;
}

nav {
    max-height: 56px;
}

.home__header {
    background-color: #CF3066;
}

header .carousel-indicators {
    bottom: -33px;
}

header .carousel-indicators .custom-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0.3;
}

header .carousel-indicators .custom-indicator.active {
    opacity: 1;
    width: 12px;
    background-color: #fff;
}

button a {
    all: unset;
    cursor: pointer;
    color: silver;
}

button.active a, .wallet__tag , button.ac{
    color: #CF3066;
}

.lh-0 {
    line-height: 0.3;
}
.fs-7{
    font-size: 0.8rem;
}
.shadow-0 {
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1);
}


.profile__header {
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.profile__union {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: 0;
}

.profile__header-content {
    position: relative;
    z-index: 1;
    padding-top: 20px;
}

.profile__bank{
    width: 154px;
    height: 75px;
    margin: 0 auto;
    display: flex;
}

.profile__function {
    margin: 7px auto;
    width: 324px;
    padding: 10px;
    display: flex;
}